* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.image-1 {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}


.text {
    text-align: center;
    padding-top: 250px;
    color: white;
}

.text h1 {
    font-size: 60px;
}

.text p {
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 3%;
    margin-left: 50px;
    margin-right: 50px;
}

.text a {
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
    padding: 15px 40px 15px 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 20px;

}